@import url(global-style.css);

html {
    background-color: var(--cl-bg-primary);
    color: var(--cl-text-light);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Utility Classes */
.stick-on-top {
    position: sticky;
    top: 0;
    z-index: 1;
}

.mask-icon {
    &::before {
        content: "";
        position: absolute;
        display: block;
        width: 1em;
        height: 1em;
        margin-right: 10px;
        mask-repeat: no-repeat;
        mask-size: cover;
        background-color: var(--cl-text-light);
    }

    &.hot-icon::before {
        mask-image: url(../icon/fire.svg);
    }

    &.recommend-icon::before {
        mask-image: url(../icon/hand-thumbs-up-fill.svg);
    }
}

/* Header */
header {
    background-color: var(--cl-bg-secondary);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
        width: 100px;

        img {
            max-height: 50px;
            width: 100%;
        }
    }

    .search-box {
        flex: 1;
        display: flex;
        gap: 10px;
        align-items: center;
        width: auto;
        max-width: 600px;
        max-height: 40px;
        border-radius: 20px;
        padding: 10px;
        margin-right: 60px;
        background-color: #FFFFFF;
        cursor: pointer;
        transition: max-width 0.25s linear;

        form {
            flex: 1;

            input {
                margin-left:10px;
                width: calc(100% - 10px);
                border: none;
                outline: none;
                font-size: 16px;
            }
        }

        img {
            width: 20px;
            height: 20px;
        }
    }
}

/* User Profile */
.user-profile {
    position: relative;
    cursor: pointer;

    .user-avatar {
        width: 40px;
        height: 40px;
        border: 2px solid var(--cl-text-dark);
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 5px;
        }
    }

    .user-action {
        position: absolute;
        top: calc(100% + 10px);
        right: 0;
        width: fit-content;
        min-width: 150px;
        padding: 10px;
        background-color: #FFFFFF;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            right: 15px;
            width: 10px;
            height: 10px;
            background-color: #FFFFFF;
            transform: rotate(45deg);
        }

        ul {
            list-style: none;
        }

        li {
            margin: 5px 5px 10px;
        }

        a {
            color: var(--cl-text-dark);
            text-decoration: none;
            white-space: nowrap;
            transition: color 0.3s ease;

            &:hover {
                color: var(--cl-accent-primary);
            }
        }
    }
}

.user-action.hidden,
.user-profile.has-logged .user-action li[action-tag="register"],
.user-profile.has-logged .user-action li[action-tag="login"],
.user-profile:not(.has-logged) .user-action li[action-tag="logout"],
.user-profile:not(.has-logged) .user-action li[action-tag="user-name"],
.user-profile:not(.has-logged) .user-action hr {
    display: none;
}

/* Navigation */
nav {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 30px;
    background-color: var(--cl-bg-secondary);

    a {
        color: var(--cl-text-light);
        text-decoration: none;
        transition: color 0.3s ease;

        &:hover {
            color: var(--cl-accent-hover);
        }
    }
}

/* Main Content */
main {
    width: 100%;
    flex-grow: 1;
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 15px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between; /* Distribute items horizontally */
    padding: 1em 2em; /* Add some padding */
    background-color: #333; /* Keep the dark background */
    color: #eee; /* Keep the light text */
    font-size: 0.9em; /* Adjust font size */

    .footer-left img {
        max-height: 100px;
    }

    .footer-right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 10px; /* Space between text and icons */

        .copyright {
            max-width: 400px;
            text-align: right;
        }

        .tech-icons {
            display: flex;
            gap: 10px;
            align-items: flex-end;

            img {
                max-height: 40px;
            }
        }
    }
}

/* Responsive Design */
@media (max-width: 880px) {
    .search-box {
        max-width: 400px !important;
    }
}

@media (max-width: 660px) {
    .search-box {
        max-width: 300px !important;
    }
}

@media (max-width: 480px) {
    .search-box {
        width: 100%;
        max-width: 200px;
        margin-right: 10px;
    }

    .logo {
        width: 80px;
    }

    nav {
        gap: 15px;
    }
}